.profile-container {
    margin: 0 auto;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-top: 20px;
    display: flex;
    
    .profile-orders {
        width: 100%;

        .order-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;
            .order-list-item {
                flex-direction: column;
                margin-bottom: 20px;
                background-color: $color6;
                
                padding:10px 10px 15px 10px;
                min-width: 180px;
                .order-card-title {
                    font-size: 1.2em;
                }
                .order-card-text {
                    margin-top: -10px;
                }

                .order-card-button {
                    background-color: $color3;
                    color: $color2;
                    padding: 5px 10px;
                    margin-top: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}