@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

// Colors
$color1: #F9DC3F;
$color2: #FFFFFF;
$color3: #83A6CC;
$color4: #28322D;
$color5: #bcbcbc;
$color6: #d0e1f4;