<!DOCTYPE html>
<html>
{% include "header.html.twig" %}
    <body>
        <nav>
            {% include "navigation.html.twig" %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer></footer>
    </body>
</html>
